<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        min-height: 100vh;
        width: 100%;
        margin: 0 auto;
    }
    .box{
        margin: 0 auto;
        width: 500px;
        height: 600px;
        background:linear-gradient(180deg, #A0C1B0 0%, #A9CAB7 20%,#9ABAA8 40%,#8DA28F 60%,#748F80 80%,#A7C8B7   100%);
    }
</style>
<body>
    <div class="box">

    </div>
</body>
</html>